/*home*/

@font-face
{
font-family: spleenMachine;
src: url('spleen machine.ttf'),
     url('spleen_machine.eot'); /* IE9 */
}


.block2 {
	float:left;
	margin:-1200px 0 0 0;
	background-image:url(../images/menu-block2.png);
	background-repeat:no-repeat;
	height:860px;
	width:200px;
	z-index:1;
}
.block{
}


#air {
	padding:0 0 0 0;
	margin:0 0 0 0;
	height:860px;
	z-index:1;
	width:100%;

}

.block_container {
	float: left;
	width: 226px;
	z-index:1;

	
}

#ground {
	height:20px;
	margin:0 auto;
	display:block;
	background-color: transparent;
	color: #fff;
	/*border-top-style:solid;
	border-color:#000;
	border-top-width:2px;*/
}

/*work*/

.block3 {
	float:left;
	margin:-1200px 0 0 0;
	background-image:url(../images/menu-block2.png);
	background-repeat:no-repeat;
	height:860px;
	width:200px;
	z-index:1;
}

/*about*/

.block4 {
	margin:-600px 0 0 0;
	background-image:url(../images/menu-block2.png);
	background-repeat:no-repeat;
	height:860px;
	width:200px;
	z-index:1;
}

/*contact*/

.block5 {
	margin:-600px 0 0 0;
	background-image:url(../images/menu-block2.png);
	background-repeat:no-repeat;
	height:860px;
	width:200px;
	z-index:1;
}

.content {
	margin:-1000px 0 0 30px;
}

.content2 {
	float:left;
	margin:-1200px 0 0 30px;
}
.works{	
background-image:url(images/content-work.png) no-repeat;
height:805px;
width:900px;
float:left;
margin:-1000px 0 0 120px;

}
.content-work {

}

.marg{
	margin:0 0 0 0;
}
.column{
	margin:0;
	float:left;}
.row1{
	margin:0 0 0 50px;
}
.row2{
	margin:0 0 0 200px;
}
.detail{
	margin:0;
}

.block6{
	width:250px;
	height:250px;
	}

.first{
	background-image:url(../images/chart1.png);
	margin: 100px 0 100px 0;
	}
.second{
	background-image:url(../images/chart3.png);
	margin:0;
	}
.third{
	background-image:url(../images/chart2.png);	
	margin: 100px 0 100px 0;
}
.fourth{
	background-image:url(../images/chart4.png);
	margin:0;
	}
	
.block6 p{
	font-family: spleenMachine;
	font-size: 20px;
	text-align: center;
	padding: 250px 0 0 0;
	}
	
