@charset "utf-8";
/* CSS Document */


body{
	margin: 0px auto;
	padding: 0px;
	background-color:#666;
	/*background-size:cover;*/
	background-repeat:repeat-x;
	background:url(http://www.flavortron.com/V2/img/rotatorBG.jpg);
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	line-height: 19px;
	/*overflow:hidden;*/
}

#logoBig{
	margin:-109px auto;
	display:block;
	background:url(../images/logoBig.png) no-repeat;
	width:1005px;
	height:109px;
	z-index:-9999;
	
}


#featured{

}
#main{
	height:100%;
	background-color:transparent;
	padding:0 0 0 0;
	display:block;
}
.content{
	min-width: 360px;
	margin: 0 0 0 50px;
	max-width: 1600px;
	height: 100%;
}
.content-0{
	display: block;
	float: left;
	margin:-1200px 0 0 30px;
	z-index:1;
	height:273px;
	/*width:1200px;*/
}
.content-1{
	display: block;
	float: left;
	margin:-1200px 0 0 30px;
	z-index:1;
	height:273px;
	/*width:1200px;*/
}
.title{
	display: block;
	float: left;
	height:25px;
	width:307px;
	z-index:1;
	clear:right;
}
	
#content-wrapper{
/*width:520px; */
height:805px;
z-index:1;
}

/*.c-column{
	width
	float:left;
	margin:0 30px 0 0;
}*/

/*.c-column2up{
	float:left;
	margin:39px 30px 0 0;
}*/

/************************************hover styles****************************************/


.hover{
	float:left;
	width:350px;
	height:269px;
	margin:-1000px 30px 0 0;
	border: solid 2px #000;
	z-index:0;
	overflow:hidden;

}

.hover img{
	display:block;
	width:350px;
	height:269px;
}


.hover a{
	/*margin-top:-271px;*/
	overflow:hidden;
	display: block;
	background:url(../images/f-bg_2.png);
	width:350px;
	height:0;
	z-index:2;
	font-family:spleenMachine;
	color:#000;
	text-decoration:none;
	font-size:20px;
	border-bottom:solid 2px #000;
	
	
}


	
	
/*div#expandDefault.box.masonry-brick.f1{background: #000 url(../images/featured/1.jpg) no-repeat;}*/

div#expandDefault.cunload2 a{
	top:-275px;
}

#f2{background:url(../images/featured/2.jpg)}

#f3{background:url(../images/featured/3.jpg)}

#f4{background:url(../images/featured/4.jpg)}

#f5{background:url(../images/featured/1.jpg)}

#f6{background:url(../images/featured/2.jpg)}

#f7{background:url(../images/featured/3.jpg)}

#f8{background:url(../images/featured/4.jpg)}

#f9{background:url(../images/featured/1.jpg)}

#f10{background:url(../images/featured/2.jpg)}

#f11{background:url(../images/featured/3.jpg)}

#f12{background:url(../images/featured/4.jpg)}

#f13{background:url(../images/featured/1.jpg)}

#f14{background:url(../images/featured/2.jpg)}

#f15{background:url(../images/featured/1.jpg)}

#f16{background:url(../images/featured/2.jpg)}







/************************************gravity styles****************************************/

/*home*/

@font-face
{
font-family: spleenMachine;
src: url('spleen machine.ttf'),
     url('spleen_machine.eot'); /* IE9 */
}

h1.titles{
font-family:spleenMachine;	
font-size:3em;
}



#menu {
	float:left;
	margin:-1200px 30px 0 0;
	height:800px;
	width:26px;
	z-index:1;
}


#air {
	display:none;
	padding:0 0 0 0;
	margin: -109px 0 0 0;
	height:860px;
	z-index:1;
	width:100%;

}


#ground {
	height:20px;
	margin:0 auto;
	display:block;
	background-color: transparent;
	color: #fff;
	/*border-top-style:solid;
	border-color:#000;
	border-top-width:2px;*/
}

/*work*/

.block3 {
	float:left;
	margin:-1200px 0 0 0;
	background-image:url(../images/menu-block2.png);
	background-repeat:no-repeat;
	height:860px;
	width:200px;
	z-index:1;
}

/*about*/

.block4 {
	margin:-600px 0 0 0;
	background-image:url(../images/menu-block2.png);
	background-repeat:no-repeat;
	height:860px;
	width:200px;
	z-index:1;
}

/*contact*/

.block5 {
	margin:-600px 0 0 0;
	background-image:url(../images/menu-block2.png);
	background-repeat:no-repeat;
	height:860px;
	width:200px;
	z-index:1;
}

.content2 {
	float:left;
	margin:-1200px 0 0 30px;
}
.works{	
background-image:url(images/content-work.png) no-repeat;
height:805px;
width:900px;
float:left;
margin:-1000px 0 0 120px;

}

.marg{
	margin:0 0 0 0;
}
.column{
	margin:0;
	float:left;}
.row1{
	margin:0 0 0 50px;
}
.row2{
	margin:0 0 0 200px;
}
.detail{
	margin:0;
}

.block6{
	width:250px;
	height:250px;
	}

.first{
	background-image:url(../images/chart1.png);
	margin: 100px 0 100px 0;
	}
.second{
	background-image:url(../images/chart3.png);
	margin:0;
	}
.third{
	background-image:url(../images/chart2.png);	
	margin: 100px 0 100px 0;
}
.fourth{
	background-image:url(../images/chart4.png);
	margin:0;
	}
	
.block6 p{
	font-family: spleenMachine;
	font-size: 20px;
	text-align: center;
	padding: 250px 0 0 0;
	}
	
	
/*************************************************************************************************************/


#logo{
	background-image:url(../images/logo.png);
	width:182px;
	height:190px;
	float:left;
	margin:11px 0 0 9px;}

#tabs{
	height:302px;
	width:26px;
	margin: 0 0 0 200px;
	}
	
#home {
  width:26px;
  height:100px;
  float:left;
}
#work {
  width:26px;
  height:100px;
  float:left;
}
#about {
  width:26px;
  height:100px;
  float:left;
}
#buttons{
	height:302px;
	background:url(../images/nav-sprite.png);
	background-repeat:no-repeat;
	list-style:none;
	display:block;

}
#menu ul li a {
  display:block;
  width:26px;
  height:100%;
  text-indent:-9999px;
  outline:none;
}
li#work:hover {
  background:url(../images/nav-sprite.png) no-repeat  -26px 0px;
}
li#about:hover {
  background:url(../images/nav-sprite.png) no-repeat  -26px -100px;
}
li#contact:hover {
  background:url(../images/nav-sprite.png) no-repeat  -26px -200px;
}


/*work*/
#logo-work{
	background-image:url(../images/work.png);
	width:181px;
	height:190px;
	float:left;
	margin:11px 0 0 10px}

/*about*/
#logo-about{
	background-image:url(../images/about.png);
	width:182px;
	height:190px;
	float:left;
	margin:11px 0 0 9px}

/*contact*/
#logo-contact{
	background-image:url(../images/contact.png);
	width:182px;
	height:190px;
	float:left;
	margin:11px 0 0 0px}

#contact {
  width:26px;
  height:100px;
  float:right;
  z-index:1;
}

#c-button{
	height:100px;
	background:url(../images/contact-button.png);
	background-repeat:no-repeat;
	list-style:none;
	display:block;

}
#contact ul li a {
  display:block;
  width:26px;
  height:100px;
  text-indent:-9999px;
  outline:none;
}	

	