@charset "utf-8";
/* CSS Document */

body{
	margin: 0px auto;
	padding: 0px;
	background-color:#666;
	background-size:cover;
	background-repeat:no-repeat;
	background:url(../images/bg-lite2.jpg);
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	line-height: 19px;
}
#featured{

}
#main{
	height:100%;
	background-color:transparent;
	padding:0 0 0 0;
	display:block;
}

.content{
	display: block;
	float: left;
	margin:0 0 0 30px;
	}
	
.content2{
	float:left;
	display: block;
	}	
	
	